/* css for navigation bar */

  /* Navbar container */
  .navbar {
    overflow: hidden;
    background-color: #e0f2e9;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left; /* makes the links on the left side of the container */
    font-size: 18px;
    color: black; /* colour of the menu text */
    text-align: center;
    padding: 14px 16px; /* the space between the text and the outside of the box */
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left; /* dropdown container to be aligned left */
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit; /* the dropdown buttons inherit the background colour of the parent (white) */
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 312px; /* certain width of navigation bar boxes*/
  }

  /* Add background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3c887e;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute; /*so dropdown boxes don't overflow past the box */
    background-color: #e0f2e9;
    width: 312px; /* certain width of dropdown menu*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center; /* text aligned to centre in dropdown menu */
  }
  
  /* Add a background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #3c887e;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

/* css for banner */

/* align logo to the left */
.logo {
  float: left;
  margin-right: -220px; /*negative margin to the right to equal change in height of the image*/
}

/* h1 text merriweather */
h1 {
  font-family: 'Merriweather', serif;
  text-align: center; 
  font-size: 45px;
  line-height: 195px; /*keeps heading on line appropriate to logo img*/
}

/*credit of hero iamge*/
.credit{  
  font-family: 'Nunito Sans', sans-serif; 
  text-align: center;
}

/* subheading text on home page */
h2 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 35px;
}

/*padding for image and text on home page about fast fashion*/
.padding {
  padding-left: 50px;  
}
  
p {
  font-family: 'Nunito Sans', sans-serif; 
}

/*paragraph about fast fashion*/
.paragraph{ 
  font-family: 'Nunito Sans', sans-serif; 
  text-align: left;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 26px;
  margin-left: 400px; /*need to margin text so it doesn't go over image and title*/
}

/*home image h&m*/
.homeimg {
  float: left;
  margin-right: -330px;
}

/*left align text*/
.left {
  text-align: left;
}

/*resize text to fit under image on home page*/
.homecredit {
  font-size: 12.8px;
}

/*button on home page to impacts*/
.block {
  display: inline-block; /* two buttons on same line*/
  width: 500px;
  border: none;
  background-color: white;
  color: black;
  padding: 150px 28px; /*increase padding to make it so no on the left-side of the website and to increase height of button*/
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif; 
  cursor: pointer;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  align-self: center;
}

.block:hover {
  background-color: #e0f2e9;
  color: black;
}

/*background behind the home page impact buttons*/
.behind {
  background-color: #3c887e;
}

/*css for footer*/

footer {
  background-color: #a17c6b;
}

table {
  border-collapse: collapse;
  width: 50%; /*title of links to go across the entire footer*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif; 
  color: white;
  text-align: center;
}

td, th {
  text-align: center;
  padding: 10px;
}
 
/*change colour of links in footer*/
td a{ 
  color: #e0f2e9;
}

/*change colour of links on hover in footer on hover*/
td a:hover{ 
  color: #ceb5a7;
}

/*change colour of links in footer on visited*/
td a:visited{ 
  color: #0645AD;
}

/* back to top button */
.backtotop {
  position: absolute; /* fixed position */
  right: 100px; /* to the left by 100px from the right corner */
  text-align: center;
  font-size: 20px;
  color: white;
}

/*change colour of back to top button*/
.backtotop a { 
  color: #e0f2e9;
}

/*change colour of back to top button on hover*/
.backtotop a:hover { 
  color: #ceb5a7;
}

/*change length of horizontal line after links*/
hr { 
  width: 90%;
}

/*change length of horizontal line after links*/
.copyright { 
  color: white;
  text-align: center;
  margin-right: 48px;
}

/*changing margin and colour of last modified date*/
.modified {
  color: white;
  margin-left: 80px;
}

/*background colour of heading*/
.page {
  background-color: #ceb5a7;
}

/*centre text*/
.center {
  text-align: center;
}

/* heading of each title page */
h3 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 50px;
}

/* collapsible for information page*/
.collapsible {
  font-family: 'Nunito Sans', sans-serif; 
  background-color: #3c887e;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #5b7b7a;
}

.content {
  padding: 10px 80px;
  display: none;
  overflow: hidden;
  background-color: #3c887e;
  color: white;
  font-size: 18px;
  text-align: center;
}

/* collapsible plus and minus icons*/

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* to make a background of a page white*/
.white {
  background-color: white;
}

/* make list paragraph font*/
li { 
  font-family: 'Nunito Sans', sans-serif; 
}
